<section>
	<p>
	    Does not work with &lt; IE10...
	</p>
</section>
<section>
	<h3>Download</h3>
	<h4>Manually</h4>
	<p>
		The files can be downloaded from:
		<ul>
			<li>
			    Minified <a href="https://raw.githubusercontent.com/l-lin/font-awesome-animation/master/dist/font-awesome-animation.min.css">CSS</a> for production usage
			</li>
			<li>
				Un-minified <a href="https://raw.githubusercontent.com/l-lin/font-awesome-animation/master/dist/font-awesome-animation.css">CSS</a> for development
			</li>
		</ul>
	</p>
	<h4>With <a href="https://www.npmjs.com/">NPM</a></h4>
	<div class="highlight">
<pre><code class="bash"><span class="nv">$ </span>npm install font-awesome-animation</code></pre>
	</div>
</section>
<section>
	<h3>Installation</h3>
    <p>
        Include the CSS file in your <code>index.html</code> file:
        <br />
        <div class="highlight">
<pre><code class="html"><span class="nt">&lt;link</span> <span class="na">rel=</span><span class="s">"stylesheet"</span> <span class="na">href=</span><span class="s">"font-awesome-animation.min.css"</span><span class="nt">&gt;</span>
</code></pre>
		</div>
    </p>
</section>
