@keyframes falling {
  0% {
    transform:translateY(-50%);
    opacity:0;
  }
  50% {
    transform:translateY(0%);
    opacity:1;
  }
  100% {
    transform:translateY(50%);
    opacity:0;
  }
}
.faa-falling.animated,
.faa-falling.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-falling {
  animation: falling 2s linear infinite;
}
.faa-falling.animated.faa-fast,
.faa-falling.animated-hover.faa-fast:hover,
.faa-parent.animated-hover:hover > .faa-falling.faa-fast {
  animation: falling 1s linear infinite;
}
.faa-falling.animated.faa-slow,
.faa-falling.animated-hover.faa-slow:hover,
.faa-parent.animated-hover:hover > .faa-falling.faa-slow {
  animation: falling 3s linear infinite;
}
