@keyframes horizontal {
  0% {
    transform:translate(0,0);
  }
  6% {
    transform:translate(5px,0);
  }
  12% {
    transform:translate(0,0);
  }
  18% {
    transform:translate(5px,0);
  }
  24% {
    transform:translate(0,0);
  }
  30% {
    transform:translate(5px,0);
  }
  36%,100% {
    transform:translate(0,0);
  }
}
.faa-horizontal.animated,
.faa-horizontal.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-horizontal {
  animation: horizontal 2s ease infinite;
}
.faa-horizontal.animated.faa-fast,
.faa-horizontal.animated-hover.faa-fast:hover,
.faa-parent.animated-hover:hover > .faa-horizontal.faa-fast {
  animation: horizontal 1s ease infinite;
}
.faa-horizontal.animated.faa-slow,
.faa-horizontal.animated-hover.faa-slow:hover,
.faa-parent.animated-hover:hover > .faa-horizontal.faa-slow {
  animation: horizontal 3s ease infinite;
}
