@keyframes passing-reverse {
  0% {
    transform:translateX(50%);
    opacity:0;
  }
  50% {
    transform:translateX(0%);
    opacity:1;
  }
  100% {
    transform:translateX(-50%);
    opacity:0;
  }
}
.faa-passing-reverse.animated,
.faa-passing-reverse.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-passing-reverse {
  animation: passing-reverse 2s linear infinite;
}
.faa-passing-reverse.animated.faa-fast,
.faa-passing-reverse.animated-hover.faa-fast:hover,
.faa-parent.animated-hover:hover > .faa-passing-reverse.faa-fast {
  animation: passing-reverse 1s linear infinite;
}
.faa-passing-reverse.animated.faa-slow,
.faa-passing-reverse.animated-hover.faa-slow:hover,
.faa-parent.animated-hover:hover > .faa-passing-reverse.faa-slow {
  animation: passing-reverse 3s linear infinite;
}
